p.input-group
  input.form-control(type='text', datepicker-popup='', ng-model='ngModel', datepicker-options='dateOptions', ng-required='true', close-text='Close')
  span.input-group-btn
    button.btn.btn-default(ng-click='open($event)')
      i.pe-7s-date