button.btn.btn-icon(type='button', tooltip-placement="top",uib-tooltip='Next',ng-click='setCurrent(pagination.current + 1)', ng-disabled='pagination.current == pagination.last', ng-class="pagination.current !== pagination.last ? 'btn-default' : 'btn-disabled'", ng-if="pagination.last > 1")
	i.pe-7s-right-arrow