button.btn.btn-icon(type='button',tooltip-placement="top",uib-tooltip='Previous',ng-click='setCurrent(pagination.current - 1)', ng-disabled='pagination.current == 1', ng-class="pagination.current !== 1 ? 'btn-default' : 'btn-disabled'", ng-if="pagination.last > 1")
	i.pe-7s-left-arrow