<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a class="theme-color" href="#home" ng-click="setTabs('home')">Home</a></li>
                    <li class="active">Article</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h3 class="title">Recent <strong>Article</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 custom-grid" ng-repeat="article in articleList">
                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box">
                        <div class="thumb-content">
                            <div class="center-vertical">
                                <div class="center-content">
                                    <div class="thumb-btn animated zoomIn">
                                        <span class="glyphicon glyphicon-plus article-icon" tooltip-placement="top" uib-tooltip="Add" ng-click="openArticle(article)"></span>
                                        <span class="glyphicon glyphicon-eye-open article-icon" tooltip-placement="top" uib-tooltip="View" ng-click="openArticle(article)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="thumb-overlay bg-black"></div>
                        <div class="innerdata">
                            <img ng-src="{{article.image}}" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>